<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MoveMyFiles.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="NandanaSMEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=VAMSHI-PC;Initial Catalog=NandanaHM;User ID=root;Password=admin;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="NandanaHMS.Properties.Settings.NandanaHMSConnectionString" connectionString="Data Source=NANDANA-PC;Initial Catalog=MoveMyFiles;User ID=root;Password=admin" providerName="System.Data.SqlClient" />
    <add connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\projecty bashi nawxoyy\Bashi Nawxoyy\Bashi Nawxoyy\db_file.accdb" name="connectionString" />
    
  </connectionStrings>
  <appSettings>
    <add key="DBType" value="MYSQL" />
    <add key="UserName" value="" />
    <add key="RoleID" value="" />
    <add key="UserID" value="" />
    <add key="NoOfDays" value="pT7M8RkiSmY=" />
    <add key="IntialTime" value="itkhHlxb0DbKEHtPbckPfg==" />
    <add key="LogPath" value="C:\\DocSort\Config\Error\" />
    <add key="DocsPath" value="C:\\DOCS\" />
    <add key="BillingName" value="XXX Name" />
    <add key="DatabaseName" value="MoveMyFiles-Swamy" />
    <add key="BillingAddress" value="XYZ Colony, XXX" />
    <add key="BillingPhone" value="Plot No. 70,Saleh Nagar,Beside Eid-Gaa Ground,Jagityal Road,KARIMNAGAR,Cell:9849369874" />
    <add key="StartWith" value="-Select-;Patient No:;Name" />
    <add key="EndWith" value="-Select-;5; ;" />
    <add key="SecondParameterValues" value="-Select-; ;Name" />
    <add key="ThirdParameterValues" value="-Select-; ;AP;" />
    <add key="CategoryByValues" value="-Select-; ;Type:;" />
    <add key="SourceFolder" value="C:\DocSort\Source\" />
    <add key="DestinationFolder" value="C:\DocSort\Destination\" />
    <add key="LogFilepath" value="C:\DocSort\FilePaths\" />
    <add key="FileCount" value="5"/>
    <add key="Hours" value="48"/>
    <add key="SecurityKey" value="Nandana-PDF"/>
    <add key="TreeviewFilepath" value="C:\DocSort\FileCabinets" />
    <add key="DocumentationError" value="C:\DocSort\DocumentError\" />
    <add key="StartWithFilepath" value="C:\DocSort\ConfigData\" />
    <add key="EndWithFilepath" value="C:\DocSort\ConfigData\" />
    <add key="SecondParameterFilepath" value="C:\DocSort\ConfigData\" />
    <add key="ThirdParameterFilepath" value="C:\DocSort\ConfigData\" />
    <add key="CategoryByFilepath" value="C:\DocSort\ConfigData\" />
    <add key="FormName" value="DashBorad" />
    <add key="MYSQL_ConnString" value="server=localhost;port=3306;database=cpa-mysql;user id=root;password=admin" />
    <!--<add key="MYSQL_ConnString" value="Data Source=localhost;port=3307;Initial Catalog=docsort-sql-version;User Id=root;password=Nandana"/>-->
    <add key="RecentFolder" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="CategoryEnabled" value="N" />
    <add key="DrBeharaFirstTimeCustomFileOrganizing" value="N" />
   <add key="ByPassMODIandConsiderOnlyFileNames" value="Y" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  
</configuration>